<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>100554186640-395b81jlmf5425g4091n95i1il0f8q5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100554186640-395b81jlmf5425g4091n95i1il0f8q5c</string>
	<key>GCM_SENDER_ID</key>
	<string>100554186640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syssolhk.ios</string>
	<key>PROJECT_ID</key>
	<string>my-first-firebase-3ab91</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-firebase-3ab91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:100554186640:ios:6badf363e2d20d73</string>
	<key>DATABASE_URL</key>
	<string>https://my-first-firebase-3ab91.firebaseio.com</string>
</dict>
</plist>